
/*
* ==========================================
* Some needed 
* =========================================
*/
body{
    font-family: 'EBGaramond-Regular', sans-serif;
}
.scroll-slide-mobile{
    display: none;
}

/*
* ==========================================
* header
* ==========================================
*/

/*navbar*/
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}
.navbar .navbar-brand .logo {
    width:80px;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: rgba(0, 0, 0, 1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

/*hamburger menu*/
#navigation{
    padding: 0;
}
#navigation .big-menu-text-first{
    font-size: 36px;
}
#navigation .big-menu-text-second{
    margin-bottom: 3rem;
    font-size: 36px 
}
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;
}
#nav-toggle > div {
  position: relative;
  width: 36px;
}
#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #fff;
  position: absolute;
  transition: top 0.5s ease, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.5s ease;
  transition: transform 0.3s ease-in-out, top 0.5s ease, -webkit-transform 0.3s ease-in-out;
  /* #nav-toggle close */
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 14px;
}
#nav-toggle span:nth-child(3) {
  top: 28px;
}
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

.open #nav-toggle span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#gloval-nav nav {
  z-index: 999;
}

#gloval-nav {
  background: #173f35;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 29px;
  padding-left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.open #gloval-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#gloval-nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.6s ease;
}
#gloval-nav ul {
  list-style: none;
  text-align: center;
}
#gloval-nav ul li {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  transition: -webkit-transform 1.3s ease;
  transition: transform 1.3s ease;
  transition: transform 1.3s ease, -webkit-transform 1.3s ease;
  position: relative;
}
/*#gloval-nav ul li a:after {
  content: "";
  display: block;
  width: 500px;
  height: 2px;
  background: #000;
  left: -100px;
  position: absolute;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
#gloval-nav ul li a:hover:after {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}*/


#gloval-nav ul li a:hover{
    text-decoration: underline;
}
/*#gloval-nav ul li:nth-child(2) {
  transition-delay: 0.15s;
}
#gloval-nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
#gloval-nav ul li:nth-child(4) {
  transition-delay: 0.45s;
}
#gloval-nav ul li:nth-child(5) {
  transition-delay: 0.6s;
}
#gloval-nav ul li:nth-child(6) {
  transition-delay: 0.75s;
}
#gloval-nav ul li:nth-child(7) {
  transition-delay: 0.9s;
}*/

.open #gloval-nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-bg {
  opacity: 0;
  background-image: linear-gradient(-45deg, #ff00bf, #ffea00);
  /*position: fixed;*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: all 1s ease;
}
.nav-bg.active {
  opacity: 1;
}
.nav-bg.news {
  background-image: linear-gradient(-45deg, #4400ff, #ffea00);
}
.nav-bgabout {
  background-image: linear-gradient(-45deg, #00ffcc, #ffea00);
}
.nav-bg.works {
  background-image: linear-gradient(-45deg, #eb1405, #ffea00);
}
.nav-bg.contact {
  background-image: linear-gradient(-45deg, #8b05eb, #ffea00);
}




/*
* ==========================================
* banner section
* ==========================================
*/
.banner-section-wrapper{
    position: relative;
    min-height: 100vh;
}
.banner-image{
    position: absolute;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner-text{
    width:600px;
    background:rgba(23, 63, 53, 0.8);
    padding:40px 80px;
    color:#fff;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/*banner text transition*/
.banner-text .heading{
    animation: Slide_Up 0.5s ease-out;
}
.banner-text .text{
    animation: Slide_Up 0.9s ease-out;
}
@keyframes Slide_Up{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

/*
* ==========================================
* what we do best section
* ==========================================
*/

.what-we-do {
    background-color: #00aec7;
    padding: 7rem 0;
    text-align: left;
  }
  .what-we-do h4{
    color:#fff;
  }
  .inner-what-we-do {
    width: 600px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
  }
  .inner-what-we-do h2 {
    color: #173f35;
  }
  .inner-what-we-do p {
    color: #173f35;
  }
  .link-italics {
    font-family: 'EBGaramond-Italic', sans-serif;
    color: #fff;
  }
  .link-italics:hover{
    color:#fff;
    text-decoration: none;
  }

/*
* ==========================================
* scroll slide section
* ==========================================
*/
.circle {
    width: 21px;
    height: 21px;
    background: #00aec7;
    border-radius: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
  }
.about-title{
    color:#173f35;
}
.about-content-title {
    color: #00aec7;
    margin-bottom: 3rem;
}
.about-content {
    padding: 50px 50px 50px 90px;
    box-sizing: border-box;
    min-height: 100vh;
    background: #fff;
    width: 450px;
    text-align: left;
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .section-ourTeam {
    height: 100%;
    float: left;
    position: relative;
  }
  .section-test {
    height: 100%;
    width: calc(100% / 3);
    float: left;
    position: relative;
  }
  .sections {
    width: 300%;
    height: 100%;
  }
  .section__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
  }
  #scrollBg1 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

 
  .scroll-slide-desktop .slide-one{
    background: url('img/slide-one.jpg') no-repeat center center;
  }
  .scroll-slide-desktop .slide-two{
    background: url('img/slide-two.jpg') no-repeat center center;
  }
  .scroll-slide-desktop .slide-three{
    background: url('img/slide-three.jpg') no-repeat center center;
  }


/*
* ==========================================
* data security section
* ==========================================
*/
.data-security {
    /*min-height: auto;*/
    background-color: #173f35;
    padding: 80px 0;
    text-align: left;
  }
  .data-security h2 {
    color: #fff;
  }
  .data-security p {
    color: #fff;
    width: 85%;
  }

/*
* ==========================================
* latest post section
* ==========================================
*/
  .home-latest-post .latest-post {
    min-height: 100vh;
  }
  .latest-post {
    min-height: auto;
    padding: 70px 0;
  }
  .latest-post .link-italics {
    color: #173f35 !important;
  }
  .latest-post .card {
    border: 0;
    width: 47%;
  }
  .latest-post .card .item {
    width: 100%;
    height: 390px;
  }

  .cardStrong {
    font-family: 'EBGaramond-Bold', sans-serif;
    color: var(--color-lightbg);
    font-size: 15px;
  }

  .home-latest-post .latest-post .photo-one{
    background:url('img/latest-post-photo-one.jpg'); 
    background-size: cover; 
    background-position: center;
  }

  .home-latest-post .latest-post .photo-two{
    background:url(img/latest-post-photo-two.jpg); 
    background-size: cover; 
    background-position: center
  }
  
  .home-latest-post .latest-post .latest-post-title-one,.latest-post-title-two{
    color:#173f35;
    text-decoration: none;
  }
  .home-latest-post .latest-post .latest-post-text-one,.latest-post-text-two{
    color:#173f35;
  }

  .home-latest-post .latest-post-slider .photo-one{
    background:url(img/latest-post-photo-one.jpg); 
    background-size: cover; 
    background-position: center
  }
  .home-latest-post .latest-post-slider .photo-two{
    background:url(img/latest-post-photo-two.jpg); 
    background-size: cover; 
    background-position: center
  }
  

/*
* ==========================================
* two flex box with hover 
* ==========================================
*/
.aboutus {
    color: #fff;
    overflow: hidden;
    position: relative;
}
.aboutus_col_left {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.aboutus_col_right {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.aboutus_page_wrap {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.aboutus_page_wrap p {
    position: absolute;
    top: 67%;
    margin-top: -67px;
    left: 0;
    width: 100%;
    text-align: center;
    color:#fff;
}
.hoverColorBg {
    background-color: #797a7c;
}
.aboutus__page {
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;
    text-align: center;
    min-height: 379px;
    transform: scale(1.5);
    transition: transform 1s;
}
.aboutus_page_wrap .link-title {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 0;
    width: 100%;
    text-align: center;
}
.link-title {
    font-size: 2rem;
    color: #fff;
}
#hover-left:hover
    {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/about-us-one.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform:scale(1);
  }
#hover-right:hover{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/about-us-two.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform:scale(1);
}


/*
* ==========================================
* quote section
* ==========================================
*/
.quote {
    background: #00aec7;
    padding: 75px 0px;
    text-align: center;
}
.quote h2 {
    color: #fff;
}
.quote a{
    color:#fff;
    text-decoration: none;
}

/*
* ==========================================
* footer section
* ==========================================
*/
.footer{
    background: #000;
    padding: 50px 0px 20px 0px;
}   
.footer .footer-menu a{
    font-size: 15px;
    color:#fff;
    text-decoration: none;
}
.footer .footer-mail{
    position: absolute;
    bottom:0;
}
.footer .footer-mail a{
    text-decoration: none;
    color:#fff;
}
.footer .subscribe-newsletter{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.footer input[type="text"]{
    background:#000;
    border-radius:0;
}
.footer .for-subscribe-group{
    margin-bottom: 30px;
    width:80%;
}
.footer .social{
    color:#fff;
    font-size:15px;
}
.footer .copyright{
    margin-top:30px;
    color: #939598;
    font-size: 12px;
}

/*
* ==========================================
* Talk to us
* ==========================================
*/

.talk-to-us{
    background:#000;
    color:#fff;
    padding:10px 20px;
    position: fixed;
    right:0;top:25%
}

/*
* ==========================================
* media query
* ==========================================
*/
@media screen and (max-width: 600px) {

    /*banner section*/
    .banner-text{
        width:100%;
        padding:40px 30px;
    }
    .banner-text h1{
        font-size: 33px;
    }
    .banner-text p{
        font-size: 16px;
    }

    /*what we do section*/
    .what-we-do{
        padding:7rem 40px;
    }
}

@media screen and (max-width: 767px){
    /*what we do section*/
    .inner-what-we-do h2{
        font-size:24px;
    }
    .what-we-do {
        padding-top: 40px;
        padding-bottom:40px;
    }
    .what-we-do-best-title{
        font-size:16px;
    }
    /*data security section*/
    .data-security{
        padding:80px 40px;
    }
    .data-security h2{
        font-size: 24px;
    }
    .data-security p{
        width:100%;
    }
    .scroll-slide-mobile .about-content-title{
        font-size:16px;
    }
    .scroll-slide-mobile .about-title{
        font-size: 24px;
    }

    /*footer section*/
    .footer .footer-mail{
        position:inherit;
    }
    .footer .footer-menu, .footer-address, .footer-social{
        border-bottom: 2px solid #fff;
        padding-bottom: 20px;
        margin-bottom:  20px;
    }
    .footer .copyright{
        margin-top:0;
    }
}

@media screen and (max-width: 920px){
    /*slide scroll section*/
    .scroll-slide-desktop{
        display:none!important;
    }
    .scroll-slide-mobile{
        display: block;
        padding:50px 0;
    }
    .mobile-card{
        border:none;
    }
}

@media screen and (max-width: 991px){
    .home-latest-post .latest-post-Web{
        display:none!important;
    }
    .latest-post-slider {
        display: block;
        padding: 2.5rem 0 1rem;
    }
    .latest-post-slider h2{
        font-size: 24px;
    }
    .latest-post-slider .headLink .link-italics{
        color:#173f35;
    }
    .latest-post-slider .headLink {
        padding: 0px 40px 30px;
    }
    .slide {
        position: relative;
        overflow: hidden;
    }
    .latest-post-slider .carousel-control-prev {
        left: -11px;
        top: -200px;
    }
    .latest-post-slider .carousel-control-prev-icon {
        background-image: url(https://www.lexallo.com/wp/wp-content/themes/lexallo/assets/images/iconfinder_icon-ios7-arrow-left_211689.svg);
    }
    .latest-post-slider .carousel-control-next {
        right: -11px;
        top: -200px;
    }
    .latest-post-slider .carousel-inner {
        width: 80%;
        margin: 0 auto;
    }
    .latest-post-slider .carousel-control-next {
        right: -11px;
        top: -200px;
    }
    .latest-post-slider .carousel-control-next-icon {
        background-image: url(https://www.lexallo.com/wp/wp-content/themes/lexallo/assets/images/iconfinder_icon-ios7-arrow-right_211607.svg);
    }
    .latest-post .sm-flex-col {
       -ms-flex-direction: column !important;
       flex-direction: column !important;
    }
    .latest-post .sm-flex-col .card {
       width: 100%;
    }
    .latest-post-slider .card .item {
       height: 178px;
    }
    .latest-post .card .item {
       height: 178px;
    }
    .latest-post-slider .card .item {
       height: 178px;
    }
    .latest-post-slider .card-body{
        padding:10px 0;
    }
    .latest-post-slider .card-title{
        color:#173f35;
        font-size: 24px;
    }
    .latest-post-slider .card-text{
        font-size:16px;
    }

    /*aboutus section*/
    .aboutus .d-flex {
        display: block!important;
    }
    .aboutus .aboutus_col_left{
        width:100%;
    }
    .aboutus .aboutus_col_right{
        width:100%;
    }
}

@media screen and (min-width: 991px){
    .home-latest-post .latest-post-slider{
        display:none!important;
    }
}

s